<!DOCTYPE html>
<html>
<head>
  <title>Question 1</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="q1-container">
      <div class="q1-links">
    
   <h1>What are your favorite colors?</h1>
   <form method="GET"action="q2.erb">
        <div class="top-wrap">
           <input type="submit" class="purplewhite" value="">
           <input type="submit" class="bluered" value="">
        </div>
        <div class="bottom-wrap">
           <input type="submit" class="bluegold" value="">
           <input type="submit" class="neongreenblue" value="">
        </div>
       </form>
       
     </div>
  </div>

</body>
</html>


