<!DOCTYPE html>
<html>
<head>
  <title>Question 2</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="q2-container">
      <div class="q2-links">
    
   <h1>What is your favorite city?</h1>
   <form method="GET"action="q3.erb">
        <div class="top-wrap">
           <input type="image"src="https://www.nyfa.edu/img/locations/la-hollywood-sign.jpg" class="los-angeles" value="">
           <input type="image"src="http://laughingsquid.com/wp-content/uploads/2014/07/barcelona-go-a-stunning-short-vi.jpg" class="barcelona" value="">
        </div>
        <div class="bottom-wrap">
           <input type="image"src="http://www.themiamiartscene.com/wp-content/uploads/2015/03/miami_beach.jpg" class="miami" value="">
           <input type="image"src="https://i.ytimg.com/vi/PtWeqZsuzpE/maxresdefault.jpg" class="london" value="">
        </div>
       </form>
       
     </div>
  </div>

</body>
</html>




