<!DOCTYPE html>
<html>
<head>
  <title>Question 3</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="q3-container">
      <div class="q3-links">
    
   <h1>What is your favorite food?</h1>
   <form method="GET"action="q4.erb">
        <div class="top-wrap">
           <input type="image"src="https://www.oregoncc.org/sites/default/files/styles/content_image/public/Garden%20Salad.jpg?itok=MwnociMC" class="salad" value="">
           <input type="image"src="http://static.guim.co.uk/sys-images/Sport/Pix/pictures/2010/11/22/1290450317259/bacon-and-eggs-Ashes-006.jpg" class="bacon-and-eggs" value="">
        </div>
        <div class="bottom-wrap">
           <input type="image"src="http://www.seriouseats.com/images/2014/02/20140227-chipotles-sofritas-tacos.jpg" class="tacos" value="">
           <input type="image"src="http://www.pbs.org/food/files/2012/07/History-of-Ice-Cream-1.jpg" class="ice-cream" value="">
        </div>
       </form>
       
     </div>
  </div>

</body>
</html>




