<!DOCTYPE html>
<html>
<head>
  <title>Question 4</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="q4-container">
      <div class="q4-links">
    
   <h1>What is your favorite movie?</h1>
   <form method="GET"action="results.erb">
        <div class="top-wrap">
           <input type="image"src="http://a1.mzstatic.com/us/r1000/048/Music/65/44/2c/mzi.yywqvspv.200x200-75.jpg" class="blind-side" value="">
           <input type="image"src="http://www.gstatic.com/tv/thumb/dvdboxart/15781/p15781_d_v8_aa.jpg" class="babys-day-out" value="">
        </div>
        <div class="bottom-wrap">
           <input type="image"src="http://www.gstatic.com/tv/thumb/movieposters/162523/p162523_p_v8_ad.jpg" class="pursuit-of-hapyness" value="">
           <input type="image"src="https://1001scribbles.files.wordpress.com/2012/04/forrest-gump-poster1.jpg" class="forrest-gump" value="">
        </div>
       </form>
       
     </div>
  </div>

</body>
</html>




